@import "tailwindcss";

/* Markdown Styling */
.markdown-body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body pre {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #0d1117;
  border-radius: 6px;
  padding: 16px;
  overflow: auto;
}

.markdown-body code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
}

.markdown-body pre code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.inline-markdown {
  display: inline;
}

.inline-p,
.inline-div {
  display: inline;
  margin: 0;
  padding: 0;
}
